.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}
.logo{
    width: 80px;
    padding-left: 30px;
}
.nav-items{
    padding: 0px 30px;
    font-size: 20px;
}
.nav-items > ul{
    display: flex;
    list-style: none;
}
.nav-items > ul > li{
    padding: 10px;
    margin: 10px;
}
.search{
    padding: 10px;
}
.res-container{
    display: flex;
    flex-wrap: wrap;
}
.res-card{
    margin: 5px;
    padding: 5px;
    width: 210px;
}
.res-card:hover{
    cursor: pointer;
    border: 1px solid black;
}
.res-logo{
    width: 100%;
    height: 40%;
}
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}
.shimmer-card{
    width: 210px;
    height: 400px;
    margin: 5px;
    padding: 5px;
    background-color: #eceae8;
}
.login{
    align-items: center;
    background-clip: padding-box;
    background-color: #835bf0;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: 600;
    justify-content: center;
    line-height: 1;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
  }
  
  .login:hover,
  .login:focus {
    background-color: #7042ef;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  }
  
  .login:hover {
    transform: translateY(-1px);
  }
  
  .login:active {
    background-color: #7042ef;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
  }

  .filter{
    display: flex;
  }
.filter-btn{
    align-items: center;
    background-clip: padding-box;
    background-color: #835bf0;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: 600;
    justify-content: center;
    line-height: 1;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
  }

  .filter-btn:hover,
  .filter-btn {
    background-color: #7042ef;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  }

  .filter-btn:hover {
    transform: translateY(-1px);
  }

  .filter-btn:active {
    background-color: #521fdf;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
  }
  .search-btn{
    align-items: center;
    background-clip: padding-box;
    background-color: #9c32f8;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: 600;
    justify-content: center;
    line-height: 1;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
  }

  .search-btn:hover,
  .search-btn {
    background-color: #700dd3;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  }

  .search-btn:hover {
    transform: translateY(-1px);
  }

  .search-btn:active {
    background-color: #3c056a;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
  }